<main>
    <div class="login">
        <div class="overlay">
            <div class="container h-100">
                <div class="row h-100 d-flex align-items-center justify-content-between">
                    <div class="col-md-6 col-lg-4 m-auto">
                        <div class="login-box">
                            <div class="login-header">
                            <div class="login-header-overlay d-flex  align-items-center justify-content-center">
                                <h2>Sign In</h2>
                            </div>
                            </div>
                            <div class="login-form p-3">
                                    <!-- <form [formGroup]="loginForm"> -->
                                     <form [formGroup]="loginForm" (ngSubmit)="saveloginData()">

                                        <div class="form-group py-2">
                                            <input [class.is-invalid]="userEmail?.invalid && userEmail?.touched" [style.borderColor]="userEmail?.invalid && userEmail?.touched ? 'red' : ''" formControlName="userEmail" name="textemail" type="text" class="input-field" placeholder=" ">
                                            <label class="placeholder-lable" [style.color]="userEmail?.invalid && userEmail?.touched ? 'red' : ''"><i class="fa-light fa-envelope fa-fw"></i> Email</label>
                                            <div *ngIf="userEmail?.invalid && userEmail?.touched">
                                             <small class="text-danger" *ngIf="userEmail?.errors?.['required']"> Email is Required</small>
                                             <small class="text-danger" *ngIf="userEmail?.errors?.['pattern']"  > Email should be in form xxx@gmail.com </small>
                                            </div>
                                        </div>



                                        <!-- <div class="form-group py-2">
                                            <input class="form-control" [class.is-invalid]="userName?.invalid && userName?.touched"[style.borderColor]="userName?.invalid && userName?.touched ? 'red' : ''" formControlName="userName" name="textname"  type="text" class="input-field" placeholder=" ">
                                            <label class="placeholder-lable" [class.is-invalid]="userName?.invalid && userName?.touched"[style.color]="userName?.invalid && userName?.touched ? 'red' : ''"><i class="fa-light fa-user fa-fw"></i> UserName</label>
                                            <div *ngIf="userName?.invalid && userName?.touched">
                                                <small class="text-danger" *ngIf="userName?.errors?.['required']">Name is Required</small>
                                                <small class="text-danger" *ngIf="userName?.errors?.['minlength']">Name Length must be minimum 3 characters  </small>
                                                <small class="text-danger" *ngIf="userName?.errors?.['maxlength']">Name Length must be maximum 32 characters </small>
    
                                        </div>
                                        </div> -->
                                        <div class="form-group py-2">
                                            <input id="pwd" type="password" class="input-field form-control" placeholder=" " [style.borderColor]="userPassword?.invalid && userPassword?.touched ? 'red':''" formControlName="userPassword" name="textpassword" >
                                            <label class="placeholder-lable" [style.color]="userPassword?.invalid && userPassword?.touched ? 'red' : ''"><i class="fa-light fa-lock-keyhole"></i> Password</label>
                                            <div *ngIf="userPassword?.invalid && userPassword?.touched">
                                                <small class="text-danger" *ngIf="userPassword?.errors?.['required']">Password is Required</small>
                                                <small class="text-danger" *ngIf="userPassword?.errors?.['pattern']">Password should be in form like (capital & small letters ,at least 6 characters and maximum 32 characters)</small>
                                            </div>
    
                                            <span class="show-password"><i class="fa-light fa-eye-slash fa-fw"></i></span>
                                            <!-- <span (click)="passwordShowHide()" class="show-password"><i class="fa-light fa-eye-slash fa-fw"></i></span> -->
                                            <a href="#" class="forget-password text-end d-block">forget Password?</a>
    
                                        </div>
                                        <div class="form-check pb-1">
                                            <input type="checkbox" class="form-check-input" id="rememberMe">
                                            <label class="form-check-lable" for="rememberMe">Remmember Me</label>
                                        </div>
                                        <div class="button d-flex justify-content-center align-items-center">
                                            <!-- <button (click)="loadApiData()" class=" my-button">Log In</button> -->
                                            <button [disabled]="loginForm.invalid" class=" my-button">Log In</button>

    
                                        </div>
                                        <div class="text-center py-3">
                                            <span class="" style="font-size:2vh">Don't Have An Account? <a routerLink="/auth/register" routerLinkActive="router-link-active" >Sign up</a></span>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    