

<main>
    <div class="forbidden d-flex align-items-center justify-content-center h-100">
        <div class="container d-flex align-items-center justify-content-center">
            <div class="col-md-6  border rounded mt-5">
                <div class="row">
                <div class="col-4 d-flex align-items-center justify-content-center">
                   <span class="icon"> <i class="fa-thin fa-lock-keyhole fa-7x"></i></span>
                </div>
                <div class="col-8">
                    <span class=" m-0 p-0 error-num">404</span>
                    <h4 >Not Found</h4>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>