<div class="login">
        <div class="overlay">
            <div class="container h-100">
                <div class="row h-100 d-flex align-items-center justify-content-between">
                    <div class="col-md-6 col-lg-4 m-auto">
                        <div class="login-box">
                            <div class="login-header">
                            <div class="login-header-overlay d-flex  align-items-center justify-content-center">
                                <h2>Sign Up</h2>
                            </div>
                            </div>
                            <div class="login-form p-3">
                                <form [formGroup]="registerationForm"  (ngSubmit)="userRegistering()">
                                    <div class="form-group py-2">
                                        <input [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="username" name="textname" type="text" class="input-field" placeholder=" ">
                                        <label class="placeholder-lable"><i class="fa-light fa-user fa-fw"></i> username</label>
                                        <div *ngIf="userName?.invalid && userName?.touched">
                                            <small *ngIf="userName?.errors?.['required']"  class="text-danger">Name is Required</small>
                                            <small *ngIf="userName?.errors?.['minlength']"  class="text-danger">Name Length must be minimum 3 characters </small>
                                            <small *ngIf="userName?.errors?.['maxlength']"  class="text-danger">Name Length must be maximum 32 characters</small>

                                
                                        </div>
                                    </div>
                                    <div class="form-group py-2">
                                        <input [class.is-invalid]="userEmail?.invalid && userEmail?.touched" formControlName="email" name="textemail" type="text" class="input-field" placeholder=" ">
                                        <label class="placeholder-lable"><i class="fa-light fa-envelope fa-fw"></i> Email</label>
                                        <div *ngIf="userEmail?.invalid && userEmail?.touched">
                                         <small class="text-danger" *ngIf="userEmail?.errors?.['required']"> Email is Required</small>
                                         <small class="text-danger" *ngIf="userEmail?.errors?.['pattern']"  > Email should be in form xxx@gmail.com </small>
                                        </div>
                                    </div>

                                    <div class="form-group py-2">
                                        <input [class.is-invalid]="Password?.invalid && Password?.touched" formControlName="password"  type="password" class="input-field" placeholder=" ">
                                        <label class="placeholder-lable"><i class="fa-light fa-lock-keyhole"></i> Password</label>
                                        <div *ngIf="Password?.invalid && Password?.touched">
                                         <small class="text-danger" *ngIf="Password?.errors?.['required']"> Password is Required</small>
                                         <small class="text-danger" *ngIf="Password?.errors?.['pattern']"> Password should be in form like (capital & small letters ,at least 6 characters and maximum 32 characters)</small>
                                         </div>
                                        <span class="show-password"><i class="fa-light fa-eye-slash fa-fw"></i></span>

                                    </div>
                                    <div class="form-group py-2">
                                        <input required [class.is-invalid]="registerationForm.errors?.['misMatch']" formControlName="confirmpassword" type="password" class="input-field" placeholder=" ">
                                        <label class="placeholder-lable"><i class="fa-light fa-lock-keyhole"></i> Confirm Password</label>
                                        <!-- <small class="text-danger" *ngIf="registerationForm.errors?.['required'] "> Confirm Password is a required Flied</small> -->
                                        <small class="text-danger" *ngIf="registerationForm.errors?.['misMatch']"> Confirm Password don't match with Password</small>
                         

                                        <span class="show-password"><i class="fa-light fa-eye-slash fa-fw"></i></span>
                                        

                                    </div>
                                    
                                    <div class="button d-flex justify-content-center align-items-center">
                                        <button [disabled]="registerationForm.invalid" class=" my-button">Sign Up</button>
                                        <!-- <button disabled="registerationForm.invalid" class=" my-button">Sign Up</button> -->
                                        <!-- <input (click)="loadApiData()" type="Button" class="btn btn-danger" value="Sign Up">  -->

                                    </div>
                                    <div class="text-center py-3">
                                        <span style="font-size:2vh">Already Have An Account? <a routerLink="/auth/login" routerLinkActive="router-link-active" >Sign In</a></span>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
