<main>
     <!-- Start breadcrumb -->
     <section class="breadcrumb">
        <div class="container">
            <div class="d-flex align-items-center justify-content-start  rounded bg-white p-3 my-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                      <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->
    <section class="details py-5" *ngIf="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-3 mb-lg-0 ">
                    <div class="images-container bg-white p-5">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-images">

                                    <div  *ngFor="let image of product?.images | slice:0:4;index as i"class="image  mb-2" id="image1" [class.active]="mainImage===image" (click)="changeImage(image)">
                                      <img [src]="image">
                                    </div>
                                         
                                    
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="main-image" id="mainImage">
                                    <img [src]="mainImage || product?.images[0]" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="product-details bg-white p-5">
                   
                            <div class="product-info px-2 pt-2">
                                <span>{{product?.brand}}</span>
                                <h2 class="d-block my-2 fw-bold ">{{product?.title}}</h2>
                                <p>{{product?.description}}</p>
                  
                            </div>
                            <div class="product-rate px-2 pt-3 ">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span class="rate px-3">({{product?.rating}})</span>
                            </div> 
                           
                            <div class="product-price px-2 pt-3 mb-2">
                                <div class="new-price">
                                <span class="new-price">EGP <span >{{product.price-product.price*product.discountPercentage/100 |number :'1.1-2'}}</span></span>
                                </div>
                                <div class="old-price pt-3">
                                    <span class="price pe-3 ">EGP {{product.price}}</span> 
                                    <span class="discount">{{product.discountPercentage/100  | percent }} OFF</span>
                                </div>
                                
                            </div> 
                                                           
                            
                            <div class="add-to-cart px-2 pt-4 d-flex justify-content-center ">
                                <div class="quantity d-flex me-4">
                                    <div class="minus px-4 py-3"(click)="decreaseNumberOfItems(counter)"><i class="fa-solid fa-minus"></i></div>
                                    <div class="num  bg-light fw-bold"><input #counter class="fw-bold px-4 py-3" style="width:70px;text-align: center;border:none ;" disabled type="text" [value]="counterValue"></div>
                                    <div class="plus px-4 py-3 " (click)="increaseNumberOfItems(counter)"><i class="fa-solid fa-plus"></i></div>

                                </div>  
                                <button  class="custom-btn w-100" (click)="addToCart(product.id)"><i class="fa-light fa-cart-shopping fa-lg"></i> Add To Cart</button>
                            </div>
                            
                       
                    </div>
                </div>
                    
            </div>
        </div>
    </section>


    <!-- Setion class -->
    <section class="discription">
        <div class="container">
            <div class="links">

            </div>
        </div>
    </section>


    <!--End description -->
</main>
<script src="../../../node_modules/bootstrap/dist/js/productDetails.js"></script>
