<main class="show-products">
    <!-- Start breadcrumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="d-flex align-items-center justify-content-start  rounded bg-white p-3 my-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                      <!-- {{selectedcategoty}} -->
                      <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a></li>
                      <li class="breadcrumb-item active">{{selectedcategoty}}</li>
                     
                    </ol>
                  </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <section class="products-area">
        <div class="container">
            <div class="sort-products d-flex justify-content-end mb-3">
                <!-- <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Sorting
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" (click)= "sortbylowprice()" >sortbylowprice</button></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div> -->
                  <select class="form-select form-sel ect-lg mb-3 w-auto" aria-label=".form-select-lg example" (change)="sort($event)">
                    <option [selected]="true" disabled slected="true">__Sorting__</option>
                    <option value="LowPrice">Show Low to High Price</option>
                    <option value="HighPrice">Show High to Low Price</option>
                    <option value="LowRate">Show Low to High Rate</option>
                    <option value="HighRate">Show High to Low Rate</option>
                  </select>
                 
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-filteration p-3 bg-white">
                        
                        <div class="categories-filters py-3 border-bottom">
                            <div class="filteration-header d-flex align-items-center justify-content-between" data-toggle="categories">
                                <h2 class="text-uppercase special-header">Categories</h2>
                                <!-- <span><i class="fa-light fa-chevron-down"></i></span> -->
                            </div>
                            
                             <div class="category-filter d-flex align-items-center justify-content-between p-1 "  *ngFor="let cat of categorieslist" id="categories" >
                                <div class="select-filter" (change)="filterByCategory(cat)">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" [value]="cat" name="category" [id]="cat" [checked]="cat==categoryFromUrl">
                                        <label class="form-check-label" [for]="cat">
                                            {{cat}}
                                        </label>
                                      </div>
                                </div>
                             </div>
                        </div>
                        <div class="brand-filters py-3 border-bottom">
                            <div class="filteration-header d-flex align-items-center justify-content-between" data-toggle="categories">
                                <h2 class="text-uppercase special-header">brands</h2>
                                <span><i class="fa-light fa-chevron-down"></i></span>
                            </div>
                            
                             <div class="category-filter d-flex align-items-center justify-content-between p-1 "  *ngFor="let product of productsList?.products" id="categories" >
                                <div class="select-filter">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {{product.brand}}
                                        </label>
                                      </div>
                                </div>
                             </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="products ">
                        <div class="products-list">
                            <div class="row">
                           
                                <!--Start Product  -->
                                <div  class="col-md-6 col-lg-4" *ngFor="let product of productsList?.products;index as i">
                                    <div class="product-box p-2 mb-3">
                                        <div class="product">
                                            <div class="overlay"></div>
                                            <div class="product-image">
                                                <img class="img-fluid" [src]="product.thumbnail" >
                                            </div>
                                            <div class="product-operations d-flex">
                                                <div class="add-to-cart p-3"(click)="addToCart(product.id)" >
                                                    <i class="fa-light fa-cart-shopping fa-2x"></i>
                                                </div>
                                                <div class="save p-3 "(click)="addToFavorites(product.id)">
                                                    <i class="fa-light fa-heart fa-2x"></i>
                                                </div>
                                                <div class="details p-3 " (click)="seeDetails(product.id)" >
                                                    <i class="fa-light fa-arrow-right fa-2x"></i>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info py-3">
                                            <div class="product-name px-2 pt-2">
                                                <h4 class=" m-0" [title]="product.title">{{product.title}}</h4>
                                  
                                            </div>
                                            <div class="product-price px-2 pt-3 d-flex align-items-center">
                                               <span class="new-price">EGP <span >{{product.price}}</span></span>
                                               <span class="old-price ">EGP {{product.price}}</span>
                                               
                                            </div>
                                            <div class="product-discount-rate px-2 pt-3 d-flex justify-content-between">
                                                <span class="discount">{{product.discountPercentage/100  | percent }} OFF</span>
                                                <span class="rate "><i class="fa-solid fa-star-sharp"></i>{{product.rating}} </span>
                                                
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product -->
                                
                                
                                
                                
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- <div class="brand-select">
    <div class="brand-name">Select Color</div>
    <form>
        
        <div class="form-check brand-checkbox" *ngFor="let col of colors;let index = index">
            <input class="form-check-input" 
                 type="checkbox" 
                 value="{{col.id}}" 
                 id="{{col.id}}" 
                 name="checkbox" 
                 [(ngModel)]="col.selected"
                 (ngModelChange)="filterProducts()">
    
              <label class="form-check-label" for="{{col.id}}">
                {{col.productColor}}
              </label>
            </div>
        </form>
    </div>
    
    <div *ngFor="let prod of productListShow">
        <div *ngFor="let product of prod.product">
            <h5 class="product-inner-title">{{product.productName}}</h5>
        </div>
    </div> -->