<main class="show-products">
    <!-- Start breadcrumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="d-flex align-items-center justify-content-start  rounded bg-white p-3 my-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                      <li class="breadcrumb-item"><a [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Favourite</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->

    <section class="products-area">
        <div class="container">
            <div class="products ">
                <div class="products-list">
                    <div class="row">
                        <div *ngIf="favouriteList.length>0;then favouriteContainItem;else favouriteHasNoItems"> 

                        </div>
                        <ng-template #favouriteContainItem>
                                    <!--Start Product  -->
                                <div  class="col-md-3" *ngFor="let product of favouriteList;index as i" >
                                    <div class="product-box p-2 mb-3">
                                        <div class="product">
                                            <div class="overlay"></div>
                                            <div class="product-image">
                                                <img class="img-fluid" [src]="product.thumbnail" >
                                            </div>
                                            <div class="product-operations d-flex">
                                                <div class="add-to-cart p-3" (click)="addToCart(product.id)" >
                                                    <i class="fa-light fa-cart-shopping fa-2x"></i>
                                                </div>
                                                <div class="delete p-3" (click)="removeFromFavourite(product.id)" >
                                                    <i class="fa-regular fa-trash-can fa-2x"></i>
                                                </div>                                               
                                            
                                                <div class="details p-3 " (click)="seeDetails(product.id)" >
                                                    <i class="fa-light fa-arrow-right fa-2x"></i>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-info py-3">
                                            <div class="product-name px-2 pt-2">
                                                <h4 class=" m-0" >{{product.title}}</h4>
                                    
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                                <!-- End Product -->        
                        </ng-template>
                        
                        
                        <ng-template #favouriteHasNoItems>
                        
                            <div style="height: 100%;"class="border rounded p-5 bg-white text-center w-50  m-auto">
                                <i  style="color:#ff8888" class="fa-light fa-star-exclamation fa-6x"></i>
                                <h3 class=" fw-bold mt-3 ">Unfortunately, Your Favourite Is Empty</h3>
                                <p class="pb-2">please Add Something in You Favourite</p>
                                <a [routerLink]="['/products']" routerLinkActive="router-link-active"  class="custom-btn ">Go Shopping</a>
                            </div>
                        </ng-template>
                    </div>

                 </div>    
            </div>
         </div>
    </section>
</main>