$background_color:#f5f5f5;
$brand_color:#1363DF;

main{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;  
   min-height:100vh;
}
body{
    background-color: #1363DF;
}
.show-products{
    background-color:$background_color;
   
}

// breadCrumb

.breadcrumb .breadcrumb-item a{
    text-decoration: none;
}
.custom-btn{
    color: #333;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 15px 35px;
    background-color: $brand_color;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    &:hover{
        color:#FFF;
        background-color: #548be1;
    }
}
a{
    text-decoration: none;
}
//products
.products-area{
    // .product-filteration{

    // }
    .products-list{
        .product-box{
            background-color: #FFF;
            transition: all .3s ease-in-out;
             &:hover{
                box-shadow: 4px 4px 15px #d6d6ca;
                .product-image{
                    img{
                        transform: scale(1.3) rotate(10deg);
                    }
                }
                .product-operations{
                    top:50%;
                    display: flex !important;
                }   
                .overlay{
                    background-color: #27252561;
                } 
             }
            }
            .product-info{
                .product-name{
                    width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                   h4{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                       
                   }
                  
               }
           }
            .product{
                position: relative;
                height: 300px;
                overflow: hidden;
                .product-image{
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                 
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all .3s ease-in-out;
                    }
                }
                .overlay{
                    position: relative;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    transition: all .3s ease-in-out;
                    z-index: 2;
                    ;
                }
               
                .product-operations{
                    position:absolute;
                    top:130%;
                    left:50%;
                    display: none !important;
                    transform: translate(-50%,-50%);
                    background-color: #FFF;
                    color: $brand_color;
                    transition: all .3s ease-in-out;
                    z-index: 3;
                    cursor: pointer;
                     div{
                        &:hover{
                            background-color: $brand_color;
                            color:#FFF;
                        }
                     }
                }

            }
            .product-price{
                .new-price{
                    font-size: 17px;
                    font-weight: bold;
                    margin-right: 10px;
                }
                .old-price{
                    color: rgb(142, 141, 141);
                    font-size: 12px;
                    font-weight: bold;
                    text-decoration: line-through;
                }
            }
            .product-discount-rate{
                .discount{
                    background: $brand_color;
                    padding: 1px 10px;
                    border-radius: 10px 41px 10px 42px;
                    color: #FFF;
                }
                .rate{
                    color:$brand_color;
                    span{
                           color:rgb(163, 161, 161);
                        }
                    }
                
            }
        }
    }
